<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Flight</title>
<!-- 
    <object th:include="fragment :: css" th:remove="tag"></object>
    <object th:include="fragment :: js" th:remove="tag"></object> -->
</head>

<body>
    <div class="container-fluid">
      <h2>Hello!</h2>
      <br>
      <!-- <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              Tambah Pegawai
            </div>
            <div class="card-body">
              <table>
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nama</th>
                    <th>Ktp</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="pegawai, iterationStatus  : *{allPegawai}">
                    <td>
                      <input type="text" th:field="*{allPegawai[__${iterationStatus.index}__].id}">
                    </td>
                    <td>
                      <input type="text" th:field="*{allPegawai[__${iterationStatus.index}__].id}">
                    </td>
                    <td>
                      <input type="text" th:field="*{allPegawai[__${iterationStatus.index}__].id}">
                    </td>
                    <td>
                      <button type="submit" name="removeRow" th:value="${iterationStatus.index}"
                          class="btn btn-primary">Hapus</button>
                    </td> 
                  </tr>
                </tbody>
             </table>
            </div>
          </div>
        </div>
      </div> -->
    </div>
</body>
</html>